<h1>Doctors</h1>

<%= link_to 'Appointments', appointments_new_path %>
<br />

<% @appointments.each do |appointment| %>
<ul>
  <li>
      <%= link_to appointment.role, appointment_path(appointment) %>
  </li>
</ul>
<% end %>




