<nav>
  <ul>
    <li>
      <%= link_to 'Doctors', doctors_path %>
    </li>
    <li>
      <%= link_to 'Add Doctor', new_doctor_path %>
    </li>
    <li>
      <%= link_to 'Users', users_path %>
    </li>
    <li>
      <%= link_to 'Add User', new_user_path %>
    </li>
  </ul>
</nav>